<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Cloner</title>
    <script src="script.js"></script>
    <script>
        console.log("<!%= roomI %>");
    </script>
</head>
<body>
    Yoooo
    lets build this
</body>
</html>